{% extends "@Blog/layout.html.twig"%}




{%block content%}
    <h1>Bienvenue dans la page Service</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis quos aspernatur voluptatum consequatur ex ad magnam voluptate beatae nihil quis, quia ut, modi tenetur cum nisi veniam neque dolorem quibusdam nesciunt incidunt! Sunt sequi maxime eveniet impedit earum officiis esse a labore quam vitae, nihil magnam, facere iure tenetur sint voluptas ut nesciunt nisi nobis est rerum. Rerum repudiandae asperiores ab cum! Ullam suscipit, sequi enim cum illum laborum ipsum odit soluta saepe nihil deleniti ipsam assumenda, quos illo iure eligendi aliquam eaque iste vel! Magnam assumenda est excepturi alias dolores maxime eaque quam cumque cupiditate, reprehenderit unde magni porro tempora, odio minima quaerat? Fugit ducimus nam tempore laudantium optio enim minus assumenda amet ipsa est libero, delectus voluptates corrupti accusamus earum, nisi a, odio ex. Enim autem animi reprehenderit repudiandae nobis dolorum maxime obcaecati alias excepturi atque minima debitis hic dicta doloremque commodi, corrupti esse aperiam exercitationem nostrum, temporibus perspiciatis fuga, consequatur voluptate. Rem reprehenderit cum laudantium! Ea odio consectetur vel illo unde dolores optio dolore nemo ex, tempora rerum fugit recusandae tempore inventore cupiditate explicabo quidem maiores nostrum quam ad dolorum. Nisi tempora suscipit ipsa blanditiis eius vero, libero ea modi laboriosam, eaque reprehenderit in praesentium vel!</p>
{%endblock%}